.bollywood-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    
}
.actors-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 650px;
    width: 100%;
    border-radius: 25px;
}